@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll-mobile {
  0% {
    top: -3.5rem;
  }
  25% {
    top: -3.5rem;
  }
  50% {
    top: -4rem;
  }
  80% {
    top: -3rem;
  }
  100% {
    top: -3.5rem;
  }
}
@keyframes scroll {
  0% {
    top: -5.5rem;
    @media only screen and (max-width: 56.25em) {
      top: -3rem;
    }
  }
  25% {
    top: -5.5rem;
    @media only screen and (max-width: 56.25em) {
      top: -3rem;
    }
  }
  50% {
    top: -6.3rem;
    @media only screen and (max-width: 56.25em) {
      top: -3.8rem;
    }
  }
  80% {
    top: -5rem;
    @media only screen and (max-width: 56.25em) {
      top: -2.5rem;
    }
  }
  100% {
    top: -5.5rem;
    @media only screen and (max-width: 56.25em) {
      top: -3rem;
    }
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}

.heading-primary {
  text-transform: uppercase;
}
.heading-primary--1 {
  display: block;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
}
.heading-primary--2 {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--2 {
    font-size: 1rem;
  }
}
.heading-primary--3 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.7rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--3 {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}
.heading-secondary:hover {
  background-image: linear-gradient(to right, #8BB8B8, #628d8d);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(1.1);
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary:hover {
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #8BB8B8;
}
@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 1rem;
  }
}

.paragraph {
  text-align: justify;
  color: #4A4A4A;
}
@media only screen and (max-width: 56.25em) {
  .paragraph {
    font-size: 0.8rem;
  }
}

.u-bottom-small {
  margin-bottom: 1.5rem;
}

.u-bottom-medium {
  margin-bottom: 2rem;
}

.u-bottom-big {
  margin-bottom: 4rem;
}

.u-top-big {
  margin-top: 4rem;
}

.u-right-medium {
  margin-right: 2rem;
}

.u-right-big {
  margin-right: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .u-right-big {
    margin-right: 0;
  }
}

.u-align-center {
  text-align: center;
}

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #8BB8B8;
  border-bottom: 1px solid #8BB8B8;
  padding: 0.5rem;
  display: inline-block;
  transition: all 0.3s;
}
.btn-text:hover {
  text-decoration: none;
  background-color: #8BB8B8;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
  border-radius: 0.1rem;
}

.button {
  color: #fff;
}
.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 8px 30px;
  border-radius: 160px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #4A4A4A;
}
.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button--cyan {
  background-color: #F3F3F3;
  color: #4A4A4A;
}
.button--cyan::after {
  background-color: #F3F3F3;
}
.button--white {
  background-color: #8BB8B8;
  color: #fff;
}
.button--white::after {
  background-color: #8BB8B8;
}
.button--white:hover {
  color: #fff;
}
.button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 160px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.active {
  background-color: #8BB8B8;
  color: #fff;
}
.active::after {
  background-color: #8BB8B8;
}
.active:hover {
  color: #fff;
}

.tombol {
  color: #4A4A4A;
}
.tombol:hover {
  text-decoration: none;
  color: #4A4A4A;
}

.composition {
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .composition {
    height: 20rem;
  }
}
.composition__photo {
  height: 20rem;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.1);
    height: 13rem;
    outline-offset: 0.5rem;
  }
}
.composition__photo--p1 {
  top: 0;
  right: 15rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 3rem;
    left: 0;
  }
}
.composition__photo--p2 {
  top: 6rem;
  right: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 8rem;
    right: 0;
  }
}
.composition__photo:hover {
  outline: 1rem solid #8BB8B8;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo:hover {
    outline: 0.5rem solid #8BB8B8;
    transform: scale(1.02) translateY(-0.2rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.parallax {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url(../img/parallax.jpg);
  height: 20rem;
  background-attachment: fixed;
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax__textBox {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-25%, -50%);
}
.parallax__text {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-style: italic;
}
.parallax__quote {
  margin: 2rem;
  font-size: 1.5rem;
  color: #8BB8B8;
}

.gallery__photo {
  width: 22.8rem;
}
@media only screen and (max-width: 56.25em) {
  .gallery__photo {
    width: 100%;
  }
}
.gallery__photoBox {
  display: inline-block;
}
.gallery__photoBox:not(:last-child) {
  margin-bottom: 1rem;
}

.form__text {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #F3F3F3;
  border: none;
  text-transform: none;
  letter-spacing: 0rem;
  font-size: 0.8rem;
  transition: all 0.3s;
}
.form__text--input {
  height: 3rem;
}
.form__text:focus:invalid {
  border-bottom: 3px solid red;
}
.form__text:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #8BB8B8;
}
.form__text::-webkit-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.header {
  position: relative;
  height: 100vh;
  background-color: #F3F3F3;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 75vh, 0 100%);
}
.header__logoBox {
  display: block;
}
.header__logo {
  height: 7rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 56.25em) {
  .header__logo {
    height: 6rem;
  }
}
.header__textBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .header__textBox {
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
  }
}
.header__scrolldown {
  display: inline-block;
  position: relative;
  top: -5.5rem;
  left: 50%;
  text-transform: uppercase;
  transform: translateX(-50%) rotate(90deg);
  animation: scroll 3s ease infinite;
}
@media only screen and (max-width: 56.25em) {
  .header__scrolldown {
    top: -3.5rem;
    animation: scroll-mobile 3s ease infinite;
  }
}
.header__scrolldown--icon {
  color: #000;
  letter-spacing: 0.3rem;
  font-size: 0.6rem;
  font-weight: 700;
  transition: 0.3s all;
}
.header__scrolldown--icon:hover {
  color: #8BB8B8;
  text-decoration: none;
}

.team__box {
  padding: 2.5rem 0;
}
.team__photo {
  width: 22rem;
}

.service__box {
  padding: 2.5rem 2rem;
  transition: all 0.3s;
}
.service__box:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
}
.service__icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.service__icon:hover {
  color: #8BB8B8;
}

.footer {
  background-color: #F3F3F3;
  text-align: center;
  padding: 0rem 0 2rem;
}
.footer__logo {
  width: 15rem;
}
.footer__iconBox {
  margin-bottom: 1rem;
  color: #8BB8B8;
  font-size: 1.5rem;
}
.footer__icon:not(:last-child) {
  margin-right: 1rem;
}
.footer__textBox {
  letter-spacing: 0.2rem;
}

.navbar-wrap {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 3rem;
  right: 4rem;
  z-index: 99;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .navbar-wrap {
    width: 2.5rem;
    height: 2.5rem;
    top: 1.5rem;
    right: 1.5rem;
  }
}
.navbar-wrap a {
  color: #000;
}
.navbar-wrap a:hover {
  color: #000;
}
.navbar-wrap__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 56.25em) {
  .navbar-wrap__icon {
    top: 25%;
  }
}
.navbar-wrap:hover {
  box-shadow: 0 1rem 3rem rgba(139, 184, 184, 0.3);
  top: 2.8rem;
}

.menu {
  width: 100%;
  position: fixed;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  transform: translateX(110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease-in-out;
}
.offcanvas-menu .menu {
  transform: translateX(0%);
}
.menu__header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__close {
  float: right;
  margin-top: 8px;
}
.menu__close span {
  font-size: 2.5rem;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s all ease;
  color: #000;
}
.menu__close span:hover {
  color: #8BB8B8;
}
.menu__body {
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  padding: 20px;
}

.nav__list {
  list-style: none;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}
.nav__list:not(:last-child) {
  margin-bottom: 1rem;
}
.nav__link {
  color: #000;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav__link:hover {
  color: #8BB8B8;
  text-decoration: none;
  text-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transform: translateX(-0.5rem);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.nav__link--active {
  color: #8BB8B8;
  text-decoration: none;
  border: 2px solid #8BB8B8;
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  transform: translateX(-0.5rem);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.section-history,
.section-handle,
.section-photo,
.section-team,
.section-contact {
  padding: 3rem 4rem;
}
@media only screen and (max-width: 56.25em) {
  .section-history,
.section-handle,
.section-photo,
.section-team,
.section-contact {
    padding: 1.5rem;
  }
}