.footer{
    background-color: $background;
    text-align: center;
    padding: 0rem 0 2rem;
    // position: relative;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);

    &__logo{
        height: 10rem;

        @include respond(tab-port) {
            height: 8rem;
        }

        @include respond(mobile) {
            height: 6rem;
        }
        
    }

    &__iconBox{
        margin-bottom: 1rem;
        color: $cyan;
        font-size: 1.5rem;

        @include respond(tab-port) {
            margin-bottom: 0rem;
            font-size: 1.3rem;
        }

        @include respond(mobile) {
            margin-bottom: 0rem;
            font-size: 1rem;
        }
    }

    &__icon:not(:last-child){
        margin-right: 1rem;
    }

    &__textBox{
        letter-spacing: .2rem;

        @include respond(mobile) {
            letter-spacing: 0rem;
        }
    }

    &__copyright{

        @include respond(mobile) {
            font-size: .7rem;
        }
    }
    
}