.composition{
    position: relative;

    @include respond(mobile) {
        height: 20rem;
    }

    &__photo{
        height: 20rem;
        box-shadow: .5rem .5rem 3rem rgba($black, .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;

        @include respond(tab-port) {
            box-shadow: .5rem .5rem 3rem rgba($black, .1);
            height: 15rem;
            outline-offset: .5rem;
        }

        @include respond(mobile) {
            box-shadow: .5rem .5rem 3rem rgba($black, .1);
            height: 13rem;
            outline-offset: .5rem;
        }

        &--p1{
            top: 0;
            right: 15rem;

            @include respond(tab-port) {
                top: 0;
                left: 3rem;
            }

            @include respond(mobile) {
                top: 3rem;
                left: 0;
            }
        }
        &--p2{
            top: 6rem;
            right: 3rem;

            @include respond(tab-port) {
                top: 6rem;
                right: 0;
            }

            @include respond(mobile) {
                top: 8rem;
                right: 0;
            }
        }

        &:hover{
            outline: 1rem solid $cyan;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($black, .5);
            z-index: 20;

            @include respond(tab-port) {
                outline: 0.5rem solid $cyan;
                transform: scale(1.02) translateY(-.2rem);
                box-shadow: 0 2.5rem 4rem rgba($black, .2);
            }
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}