.gallery{

    &__photo{
        width: 22.8rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__photoBox{
        display: inline-block;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    
}